include README.md
include LICENSE
include requirements.txt
include bin/jarvis
recursive-include jarvis_cd *.py
recursive-include builtin *
exclude builtin/.git*
recursive-include docs *.md
recursive-include test *.py
global-exclude *.pyc
global-exclude __pycache__