name: Build Docker Images

on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate debugging enabled'
        required: false
        default: false

jobs:
  build-docker-images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build build image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/build.Dockerfile
          push: true
          tags: iowarp/ppi-jarvis-cd-build:latest

      - name: Build deploy image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/deploy.Dockerfile
          push: true
          tags: iowarp/ppi-jarvis-cd:latest
